name: Build Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: x86
            qt_arch: win32_msvc2019
            fftw: fftw-3.3.5-dll32
            log4cpp: lib32
            msvc_arch: x86
            result_dir: engauge-build
          - arch: x64
            qt_arch: win64_msvc2019_64
            fftw: fftw-3.3.5-dll64
            log4cpp: lib64
            msvc_arch: x64
            result_dir: engauge-build-x64

    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        arch: ${{ matrix.qt_arch }}
        cache: true

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.msvc_arch }}

    - name: Extract log4cpp
      run: |
        7z x dev\windows\appveyor\log4cpp_null_build.zip -aoa
      shell: cmd

    - name: Download and setup FFTW
      run: |
        mkdir ${{ matrix.fftw }}
        cd ${{ matrix.fftw }}
        7z x ..\dev\windows\appveyor\${{ matrix.fftw }}.zip -aoa
        lib /machine:${{ matrix.arch }} /def:libfftw3-3.def
        lib /machine:${{ matrix.arch }} /def:libfftw3f-3.def
        lib /machine:${{ matrix.arch }} /def:libfftw3l-3.def
        mkdir include
        mkdir lib
        move fftw3.h include
        move *.dll lib
        move *.def lib
        move *.lib lib
        cd ..
      shell: cmd

    - name: Build Engauge
      run: |
        set LOG4CPP_HOME=%CD%\${{ matrix.log4cpp }}
        set FFTW_HOME=%CD%\${{ matrix.fftw }}
        qmake engauge.pro
        nmake
      shell: cmd

    - name: Build help documentation
      run: |
        cd help
        qcollectiongenerator engauge.qhcp -o engauge.qhc
        cd ..
      shell: cmd

    - name: Package application
      run: |
        mkdir ${{ matrix.result_dir }}
        mkdir ${{ matrix.result_dir }}\documentation
        mkdir ${{ matrix.result_dir }}\bearer
        mkdir ${{ matrix.result_dir }}\iconengines
        mkdir ${{ matrix.result_dir }}\imageformats
        mkdir ${{ matrix.result_dir }}\platforms
        mkdir ${{ matrix.result_dir }}\printsupport
        mkdir ${{ matrix.result_dir }}\sqldrivers

        REM Copy Qt plugins
        copy %Qt5_Dir%\plugins\bearer\*.dll ${{ matrix.result_dir }}\bearer
        copy %Qt5_Dir%\plugins\iconengines\*.dll ${{ matrix.result_dir }}\iconengines
        copy %Qt5_Dir%\plugins\imageformats\*.dll ${{ matrix.result_dir }}\imageformats
        copy %Qt5_Dir%\plugins\platforms\*.dll ${{ matrix.result_dir }}\platforms
        copy %Qt5_Dir%\plugins\printsupport\*.dll ${{ matrix.result_dir }}\printsupport
        copy %Qt5_Dir%\plugins\sqldrivers\*.dll ${{ matrix.result_dir }}\sqldrivers

        REM Copy Qt libraries
        copy %Qt5_Dir%\bin\Qt5CLucene.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Core.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Gui.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Help.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Network.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5PrintSupport.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Sql.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Widgets.dll ${{ matrix.result_dir }}
        copy %Qt5_Dir%\bin\Qt5Xml.dll ${{ matrix.result_dir }}

        REM Remove debug DLLs
        del /S ${{ matrix.result_dir }}\*d.dll

        REM Copy application and dependencies
        copy bin\engauge.exe ${{ matrix.result_dir }}
        copy ${{ matrix.log4cpp }}\lib\log4cpp.dll ${{ matrix.result_dir }}
        copy ${{ matrix.fftw }}\lib\libfftw3-3.dll ${{ matrix.result_dir }}
        copy LICENSE ${{ matrix.result_dir }}

        REM Copy help files
        copy help\engauge.qch ${{ matrix.result_dir }}\documentation
        copy help\engauge.qhc ${{ matrix.result_dir }}\documentation

        REM Create archive
        7z a ${{ matrix.result_dir }}.7z ${{ matrix.result_dir }}
      shell: cmd

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.result_dir }}
        path: ${{ matrix.result_dir }}.7z
        retention-days: 30
